.main {
    /* Variables */
    --lightColor: #D9D9D9;
    --width: 500px;
    --height: 210px;

    /* Styles */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: var(--width);
    height: var(--height);
}

.imageContainer {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    width: var(--width);
    height: var(--height);
}

.image {
    padding-top: 0;
    width: 100%;
}

.prompt {
    color: black;
    font-size: 24px;
    font-weight: 150;
    text-align: center;
    padding: 0;
    margin-block: 0;
}

@media screen and (min-width: 700px) {
    .image {
        padding-left: 1vw;
    }
}

@media screen and (max-width: 699px) {
    .main {
        --width: 300px;
        --height: 390px;
    }

    .banner {
        font-size: 20px;
    }

    .imageContainer {
        flex-direction: column;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) and (max-height: 800px) {
    .main {
        --width: 320px;
        --height: 120px;
    }

    .imageContainer {
        flex-direction: row;
        gap: 10px;
    }

    .image {
        padding-left: 2vw;
    }

    .prompt {
        font-size: 16px;
    }

    .selection label {
        font-size: 14px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.selection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection label {
    margin-block: 0;
    color: black;
    font-weight: 700;
}

.selection div {
    display: flex;
    gap: 10px;
}

.selection input, .selection select {
    outline: none;
}