/* modify .image and .imageBox to fit as many images per row as possible in a grid */
.imageBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    width: 100%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hitBox {
    /* black border no fill */
    border: 1px solid black;
    /* decent size to fit a title */
    height: 50px;
    /* center the text */
    text-align: center;
    /* center the text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}