/* modify .image and .imageBox to fit as many images per row as possible in a grid */
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hitBox {
    /* light gray border */
    border: 1px solid #e0e0e0;
    /* total size should fit 128x128 image + name (vertically stacked) */
    height: 300px;
    width: 300px;
    /* center image and name */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    place-self: center;
}