.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.mainAuth {
    position: relative;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
}