.main {
  position: absolute;
  /* middle of the screen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #d9d9d9;
  color: #000000;
  border: none;
  border-radius: 5px;
  /* text font Montserrat Black */
  font-family: 'Montserrat', sans-serif;
  /* heavy font */
  font-weight: 900;
  height: 34px;
  /* cursor shoud hover */
  cursor: pointer;
}