.display {
    /* Flex where the left side is the images and the right side is size/color selector */
    display: flex;
    flex-direction: row;
}

.images {
    /* Images should be 50% of the width of the display */

}

.scrollLeft {

}

@keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.slider_container .slider_image {
    animation: slide 3s linear infinite;
}

.scrollRight {

}