.links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

.links a {
    text-decoration: none;
    color: #B1B1B1;
    font-size: 1rem;
    font-weight: 500;
    z-index: 999;
}

.links .cart {
    margin-top: 10px;
    z-index: 999;
}

.links .profile {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 901;
}

.content {
    width: 100vw;
    margin-top: 200px;
}

.active {
    color: white;
}

/* Responsive Nav */
.responsiveNav {
    float: right;
    flex: 1;
}

.bar {
    width: 25px;
    height: 5px;
    background-color: #B1B1B1;
}

.barBox {
    z-index: 999;
    margin-top: 75px;
    margin-right: 50px;
}

.stationedBarBox {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.closeBox {
    position: absolute;
    top: 0;
    right: 0;
}

.responsiveLinkBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 8vh;
    z-index: 902;
}

.responsiveLinkBox a {
    text-decoration: none;
    font-size: 3rem;
    color: #B1B1B1;
    z-index: 902;
}

.responsiveLinkBox a h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.responsiveIcons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* .responsiveBox {
    
} */

.responsiveWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.8);
    backdrop-filter: blur(20px);
    z-index: 800;
}