.deleteButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background: #CC0000;
    /* Remove default button styling */
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.deleteButton:hover {
    /* scale it evently */
    transform: translate(-50%, -50%) scale(1.14);
}

/* when delete button is clciked */
.deleteButton:active {
    /* scale it evently */
    transform: translate(-50%, -50%) scale(1);
}

.warning {
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    /* warning color */
    color: #CC0000;
    font-weight: 900;
}